<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>40.012 Manufacturing and Service Operations</title>
    <link rel="icon" type="image/x-icon" href="assets/icons/main.ico">
    <link rel="stylesheet" href="https://use.typekit.net/rgd1rxa.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
    <script type="text/javascript" src="assets/scripts/main.js" defer></script>
</head>

<body>
    <div>
        <h1>Step 1: Specify Data</h1>
        <form action="/render">
            <input type="file" id="data" name="data">
            <button>Submit</button>
        </form>
    </div>

    <hr/>

    <div>
        <h1>Step 2: Specify Parameters</h1>
        <form action="/calculate">
            <input placeholder="Holding Cost"/>
            <input placeholder="Fixed Cost"/>
            <button>Calculate</button>
        </form>
    </div>

    <hr/>


</body>

</html>
