<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>40.012 Manufacturing and Service Operations</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script type="text/javascript" src="scripts/main.js" defer></script>
    <script type="text/javascript" src="scripts/charts.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">


        <div class="section">
            <h1>Inventory System Modelling - (Q,r) Model</h1>
        </div>
        <div class="section-gray">
            <h3>Step 1: Upload and Process Data</h3>
            <input type="file" class="data" id="data" name="data"/>
            <label for="data" id="forData" class="btn btn-outline-primary"><span class="font-weight-bold" id="fileName">Select Data</span></label>
            <button type="button" class="btn btn-outline-primary" id="extract" value="extract" onclick="extract()">
                <span class="font-weight-bold">Upload Data</span>
            </button>
            <button type="button" class="btn btn-outline-primary" id="toggleChart" value="toggleChart" onclick="toggleChart()" >
                <span class="font-weight-bold">Toggle Chart</span>
            </button>
            <button type="button" class="btn btn-outline-primary" id="hideChart" value="hideChart" onclick="hideChart()" >
                <span class="font-weight-bold">Hide Chart</span>
            </button>
            <div id="chart-container">
                <canvas id="chart1"></canvas>
                <div id="chart2"></div>
            </div>

        </div>
        <div class="section">
            <h3>Step 2: Specify Parameters</h3>
            <form class="form-group" id="parameters">
                <label for="backorderCost" class="font-weight-bold">Backorder Cost ($)</label>
                <input class="form-control mb-2" placeholder="Backorder Cost ($)" name="backorderCost" id="backorderCost">
                <label for="fixedCost" class="font-weight-bold">Fixed Cost ($)</label>
                <input class="form-control mb-2" placeholder="Fixed Cost ($)" name="fixedCost" id="fixedCost">
                <label for="holdingCost" class="font-weight-bold">Holding Cost ($)</label>
                <input class="form-control mb-3" placeholder="Holding Cost ($)" name="holdingCost" id="holdingCost">
                <hr>
                <label for="startingInventory" class="font-weight-bold">Starting Inventory (Unit)</label>
                <input class="form-control mb-3" placeholder="Starting Inventory (Unit)" name="startingInventory" id="startingInventory">
                <label for="leadTime" class="font-weight-bold">Lead Time (Entry)</label>
                <input class="form-control mb-3" placeholder="Lead Time (Unit)" name="leadTime" id="leadTime">
                <button type="submit" class="btn btn-outline-primary"><span class="font-weight-bold">Process with Parameters</span></button>
            </form>
        </div>
        <div class="section-gray">
            <h3>Step 3: View Generated Report</h3>
            <div id="dataTable" style="overflow-y:auto;">
                <table id="table"></table>
            </div>
            <hr>
            <div id="resultReport"></div>
        </div>
    </div>
</body>

</html>
